body {
  background-image: url("img/background.jpg");
}

h1 {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 34px;
  text-align: center;
  text-shadow: 1px 1px;
  }

  p {
    color: black;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    font-size: 22px;
    margin-right: 400px;
    margin-left: 400px;
  }

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  padding-right: 10px;
  padding-left:  10px;
  font-size: 42px;
  border-radius: 5px;
  margin-right: 400px;
  margin-left: 400px;
}

.pill-nav a:active {
  background-color: grey;
  color: white;
}

.pill-nav a:hover {
  background-color: grey;
  color: white;
}

.footer {
  left: 0;
  bottom: 0;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  text-align: center;
}

h2 {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 34px;
  text-align: center;
  text-shadow: 1px 1px;
}

p2 {
  color: black;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-size: 22px;
  padding-left: 25px;
}

h3 {
  color: black;
  font-family: 'Bebas Neue', cursive;
  font-size: 34px;
  text-align: center;
  text-shadow: 1px 1px;
}

div.model {
  position: relative;
  width: 70%;
  height: 30%;
  left: 200px;
  right: 100px;
  text-align: center;
}

p3 {
  color: black;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-size: 22px;
  padding-left: 25px;
}

div.image {
  position: relative;
  left: 100px;
  top: 20px;
  box-shadow: 10px 10px 5px grey;
  width: 95%;
}
