*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* contact positioning */
.contact
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* content settings */
.contact .content {
  max-width: 1000px;
  text-align: center;
}
/* h2 positioning */
.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #9932CC;
}
/* p positioning */
.contact .content p {
  font-weight: 300;
}
/* container positioning */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
/* contactInfo positioning */
.container .contactInfo {
  width: 50%;
  display: flex;
flex-direction: column;
}
/* box positioning */
.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
/* box icons positioning */
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
/* text positioning */
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
/* h3 positioning */
.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
}
/* contactForm positioning */
.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}
/* h2 positioning */
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
/* inputBox positioning */
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 30px;
}
/* textarea positioning */
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
/* span settings */
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
/* input,span positioning */
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
/* submit positioning */
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
/* media for containers positioning */
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}
